html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}*/
.alert {
  display: none;
}

.modal-input{
  font-size: 2em;
}

* {
padding: 0px;
margin: 0px;
}

body {
text-align: center;
}

.menu{
  display: block;
  background-color: #303030;
  /*padding-top: 15px;*/
  padding: 0px;
  /*height: 700px;*/
  
}

.display {
  display: block;
  /*background-color: blue;*/
  padding: 15px;
  /*margin: 15px;*/
  width: 80%;
  /*height: 700px;*/
}

.content { 
  display: none;
}

figure {
margin: 10px;
}

.menu-button{
width: 100%;
padding: 5px;
background-color: #898989;
text-align: left;
/*padding-left: 40px;*/
cursor: pointer;
}

.menu-button:hover{
background-color: #707070;
}

.icon {
width: 25px;
padding: 1px;
margin-right: 10px;
border: 1px solid black;
background-color: #d1d1d1;
}

#home-list {
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
}

.img-fluid {
  cursor: pointer;
}

.searchInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.brandBar{
  padding: 0px 5px 0px 0px;
}

.typeBar{
  padding: 0px 0px 0px 5px;
}
